<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <!--        <button (click)="showFiller = !showFiller" mat-raised-button>-->
    <!--          Toggle extra text-->
    <!--        </button>-->
    <div class="sidenav">
      <div class="sidenav-body">
        <div class="sidenav-menu">Меню</div>
<!--        <div class="line"></div>-->
        <div>О доске</div>
        <div>Действия</div>

        <h4>Архив задач</h4>

        <div class="task task-archive" *ngFor="let task of archivedTasks[0]">
          <div class="task-archive-view">
            <div class="task-title">{{task.title}}</div>
            <div class="task-unzip" (click)="unzip(task)">Вернуть</div>
          </div>
        </div>

      </div>
    </div>
  </mat-drawer>

  <div class="body">
    <div class="menu">
      <span class="title-board" (click)="updateTitleBoard()">{{nameBoard}}</span>
      <div class="avatar">{{ nameUser.charAt(0) | uppercase}}</div>
      <span class="invite" (click)="inviteKey()">Пригласить</span>

      <div class="example-sidenav-content">
        <span class="full-menu" (click)="fullMenu()">
          <button type="button" mat-button (click)="drawer.toggle()">
            Меню
            <mat-icon class="material-icons-outlined" aria-hidden="false"
                      aria-label="Example home icon">more_horiz</mat-icon>
          </button>
        </span>
      </div>
    </div>

    <main>
      <div class="board-wrapper">
        <div class="board-columns" cdkDropListGroup>
          <div class="board-column column" *ngFor="let column of board.columns">
            <div class="column-title">
            <span class="title">
              <h4>{{ column.name }}</h4>
            </span>
              <span
                class="icon mr-2"
              >
<!--              <app-popover class="icon" buttonText="...">Добавить карточку... Копировать список... Переместить список... Архивировать список</app-popover>-->
              <mat-icon class="material-icons-outlined" aria-hidden="false"
                        aria-label="Example home icon">more_horiz</mat-icon>
            </span>
            </div>
            <div class="tasks-container"
                 cdkDropList
                 [cdkDropListData]="column.tasks"
                 (cdkDropListDropped)="drop($event, column)">
              <div class="task card-body" *ngFor="let item of column.tasks" cdkDrag>
                <span (click)="openDialog(item)">{{ item.title }}</span>
                <span class="delete" (click)="deleteTask(item.id, item.nameTaskList)">&#x2715;</span>
              </div>
            </div>
            <form class="form" [formGroup]="form" (ngSubmit)="submit(column.name)">
              <div>
                <input type="text"
                       class="form-control bg-light"
                       placeholder="name task" formControlName="name">
                <div class="enter"></div>
                <input type="text" class="form-control bg-light" placeholder="description task"
                       formControlName="description">
              </div>
              <button type="submit" class="btn btn-dark">add task</button>
            </form>

<!--            <form [formGroup]="form">-->
<!--              <mat-form-field appearance="fill" class="add-task-form">-->
<!--                <textarea matInput placeholder="Enter a title for this card…" formControlName="title"></textarea>-->
<!--              </mat-form-field>-->
<!--              <div>-->
<!--                <button mat-raised-button color="primary" type="submit">Add card</button>-->
<!--                <button mat-icon-button type="button" >-->
<!--                  <mat-icon class="material-icons md-light">clear</mat-icon>-->
<!--                </button>-->
<!--              </div>-->
<!--            </form>-->

          </div>
        </div>
      </div>
    </main>
  </div>
</mat-drawer-container>


