<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="sidenav">
      <div class="sidenav-body">
        <div class="sidenav-menu">Меню</div>
<!--        <div>О доске</div>-->
<!--        <div>Действия</div>-->
        <h4>Архив задач</h4>
        <div class="tasks-container">
          <div class="task card-body task-archive-view" *ngFor="let task of archiveService.archivedTasks[0]">
            <span>{{ task.title }}</span>
            <span class="btn-unzip" (click)="unzip(task)">&#x2715;</span>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>

  <div class="body">
    <div class="menu">
      <span
        class="title-board"
        (click)="updateTitleBoard()"
      >{{_boardName}}</span>
      <div class="avatar">{{ authService.isNameUser.charAt(0) | uppercase}}</div>
      <ng-container *ngIf="owner">
        <div class="invited-users" *ngFor="let user of invitedUsers">{{user.name.charAt(0) | uppercase}}</div>
      </ng-container>
      <span
        [hidden]="!invite"
        class="invite"
        (click)="inviteKey()"
      >Пригласить</span>

      <div [hidden]="invite">
        <mat-form-field appearance="fill" class="add-task-form">
          <textarea matInput>{{link}}</textarea>
        </mat-form-field>
      </div>

      <div class="example-sidenav-content">
        <span class="full-menu" (click)="fullMenu()">
          <button type="button" mat-button (click)="drawer.toggle()">
            Меню
            <mat-icon class="material-icons-outlined" aria-hidden="false"
                      aria-label="Example home icon">more_horiz</mat-icon>
          </button>
        </span>
      </div>

<!--      <div class="task_search">-->
<!--        <input type="text" pleceholder="найди">-->
<!--      </div>-->

      <div class="task_search">
        <input type="text" placeholder="Find post..." [(ngModel)]="searchTask">
      </div>
    </div>

    <main>
      <div class="board-wrapper">
        <div class="board-columns" cdkDropListGroup>
          <div class="board-column column" *ngFor="let column of board.columns">
            <div class="column-title">
            <span class="title">
              <h4>{{ column.name }}</h4>
            </span>
              <span
                class="icon mr-2"
              >
<!--              <app-popover class="icon" buttonText="...">Добавить карточку... Копировать список... Переместить список... Архивировать список</app-popover>-->
<!--              <mat-icon-->
<!--                class="material-icons-outlined"-->
<!--                aria-hidden="false"-->
<!--                aria-label="Example home icon"-->
<!--                (click)="popoverColumn()"-->
<!--                [hidden]="popoverColumnInfo"-->
<!--              >more_horiz</mat-icon>-->

<!--                <div [hidden]="!popoverColumnInfo" class="modal"></div>-->

<!--                              <mat-icon-->
<!--                                class="material-icons-outlined"-->
<!--                                aria-hidden="false"-->
<!--                                aria-label="Example home icon"-->
<!--                                (click)="popoverColumn(column)"-->
<!--                              >more_horiz</mat-icon>-->

                <mat-icon class="material-icons-outlined" (click)="popoverColumn(column)" *ngIf="owner">delete</mat-icon>
            </span>
            </div>
            <div class="tasks-container"
                 cdkDropList
                 [cdkDropListData]="column.tasks"
                 (cdkDropListDropped)="drop($event, column)">
              <div class="task card-body" *ngFor="let item of column.tasks" cdkDrag>
                <span (click)="openDialog(item)">{{ item.title }}</span>
                <span *ngIf="owner" class="delete" (click)="deleteTask(item.id, item.nameTaskList)">&#x2715;</span>
              </div>
            </div>

            <form
              *ngIf="owner"
              class="form"
              [formGroup]="form"
              (ngSubmit)="submit(column.name)">
              <div>
                <input
                  type="text"
                  class="form-control bg-light"
                  placeholder="name task"
                  formControlName="name"
                >
                <div class="enter"></div>
                <input
                  type="text"
                  class="form-control bg-light"
                  placeholder="description task"
                  formControlName="description"
                >
              </div>
              <div class="btn-add">
                <button type="submit" class="btn btn-dark">add task</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</mat-drawer-container>

<!--<div class="task-item" cdkDragDisabled cdkDrag>-->
<!--  <div [hidden]="!submitted">-->
<!--    <button mat-button (click)="submitted=!submitted" class="add-task">-->
<!--      <span mat-icon class="material-icons md-light">add</span>-->
<!--      <span>Add card</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div [hidden]="submitted">-->
<!--    <form [formGroup]="form" (ngSubmit)="submit(column.name)">-->
<!--      <mat-form-field appearance="fill" class="add-task-form">-->
<!--        <textarea matInput placeholder="Enter a title for this card…" formControlName="title"></textarea>-->
<!--      </mat-form-field>-->
<!--      <div>-->
<!--        <button mat-raised-button color="primary" type="submit">Add card</button>-->
<!--        <button mat-icon-button type="button" (click)="onClose()">-->
<!--          <mat-icon class="material-icons md-light">clear</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

