.mat-dialog-title {
  color: #172b4d;
  font-weight: 500;
}

.column-title {
  //cursor: pointer;
  //text-decoration: underline;
}

h4 {
  color: #172b4d;
  font-weight: 500;

  margin-top: 20px;
}

.description {
  color: #172b4d;
  font-weight: 500;
}

.form-header {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 1rem;
}

.dialog-column-description {

}

textarea {

}

.mat-form-field {
  width: 80%;
}

.archiving {
  display: flex;
  align-items: center;
  cursor: pointer;

  .archiving-title {
    margin-left: 0.2rem;
  }
}

.details {
  display: flex;
  align-items: center;

  .details-title {
    cursor: pointer;
    margin-left: 0.2rem;
  }
}

.assigned-users {
  color: #fff;
  font-size: 16px;

  background-color: #697178;
  border-radius: 5px;
  margin-bottom: 1rem;

  width: 20%;
  text-align: center;
  padding: 0.2rem 0.3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn-remove {
    cursor: pointer;
  }
}

.invited-users {
  color: #fff;
  font-size: 16px;

  background-color: #697178;
  border-radius: 5px;
  margin-bottom: 1rem;

  width: 40%;
  text-align: center;
  padding: 0.2rem 0.3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn-add {
    font-weight: bold;
    cursor: pointer;
  }
}

.update-title {
  width: 100%;
  height: 5px;
  padding: 0;
}

.transaction-body {
  margin-bottom: 4rem;
}

.column {
  display: flex;

  .btn-close {
    cursor: pointer;
    margin-left: 1rem;
  }
}

.leave-task {
  cursor: pointer;
  font-weight: 500;
  margin-left: 1rem;

  &:hover {
    color: #172b4d;
  }
}

.out-task {
  cursor: pointer;
}

.out-task {
  width: 9rem;
  height: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  color: #fff;
  border-radius: 5px;
  background-color: #ac0e28;
}
