<h1 mat-dialog-title>
  <span class="dialog-column-title" (click)="updateTitle()" [hidden]="showTitle"> {{ _title }}</span>
</h1>
<div class="column">
  <div>в колонке <span class="column-title">{{ data.item.nameTaskList }}</span></div>
</div>
<div mat-dialog-content>
  <form (click)="submit()">
    <div class="form">
      <div class="form-header">
        <span>
          <mat-icon class="material-icons-outlined">description</mat-icon>
        </span>
        <span class="description">Описание</span>
      </div>
      <span class="dialog-column-description">
      <mat-form-field appearance="fill">
        <mat-label>описание</mat-label>
        <textarea
          [readonly]="!this.data.ownerStatus"
          matInput
          cdkTextareaAutosize
          [formControl]="description"
        ></textarea>
      </mat-form-field>
    </span>
    </div>

    <button mat-raised-button type="submit" *ngIf="this.data.ownerStatus">Submit</button>
  </form>

  <div class="archiving" *ngIf="this.data.ownerStatus">
    <mat-icon class="material-icons-outlined">send_and_archive</mat-icon>
    <h4 class="archiving-title" (click)="archive()">Архивация</h4>
  </div>

  <div class="invited">
    <h4 class="users" *ngIf="users.length !== 0 && this.data.ownerStatus">Выбор пользователей на эту задачу:</h4>
    <div *ngIf="this.data.ownerStatus">
      <div class="invited-users" *ngFor="let user of users">
        {{ user.name }}
        <span class="btn-add" (click)="assignUser(user)">+</span>
      </div>
    </div>
    <h4 class="archiving-title" *ngIf="assignedUsers.length !== 0">на эту задачу назначены пользователи:</h4>
    <div class="assigned-users" *ngFor="let assignedUser of assignedUsers">
      {{ assignedUser.name }}
      <span class="btn-remove" (click)="removeAssignedUser(assignedUser)" *ngIf="this.data.ownerStatus">&#x2715;</span>
    </div>
  </div>

  <div class="details-body">
    <div class="details">
    <mat-icon class="material-icons-outlined">loupe</mat-icon>
    <h4 class="details-title" (click)="showDetails()">подробности</h4>
    </div>
    <div class="transaction-body" [hidden]="!transactionDialog">
      <div *ngFor="let transaction of transactionTask">{{transaction.data}}</div>
    </div>
  </div>

  <span class="out-task" (click)="outTask()" *ngIf="data.item.Users?.length">покинуть задачу</span>
</div>
