<!--<div class="task-list" *ngFor="let title of titleColumn">-->
<!--  <div class="header-task-list">{{title.title}}</div>-->

<!--  <div class="task-list-body">-->

<!--    <div class="card" (cdkDropListDropped)="drop($event)" cdkDropList *cdkDragPlaceholder>-->
<!--      <div class="card-body" *ngFor="let task of tasks">-->
<!--        {{task.title}}-->
<!--        <span class="delete" (click)="deleteTask()">&#x2715;</span>-->
<!--      </div>-->
<!--    </div>-->

<!--    <form class="form" [formGroup]="form" (ngSubmit)="submit('In Progress')">-->
<!--      <div>-->
<!--        <input type="text" class="form-control bg-light" placeholder="name task" formControlName="name">-->
<!--        <div class="enter"></div>-->
<!--        <input type="text" class="form-control bg-light" placeholder="description task" formControlName="description">-->
<!--      </div>-->
<!--      <button type="submit" class="btn btn-dark">add task</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->


<div class="task-list">
    <div cdkDropList class="column" (cdkDropListDropped)="drop($event)"
         *ngFor="let title of titleColumn">
      <h4>{{title.title}}</h4>
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <div class="card" *ngFor="let task of tasks" cdkDrag>
        <div class="card-body">{{task.title}}
          <span class="delete" (click)="deleteTask()">&#x2715;</span>
        </div>
      </div>
      <form class="form" [formGroup]="form" (ngSubmit)="submit('In Progress')">
        <div>
          <input type="text" class="form-control bg-light" placeholder="name task" formControlName="name">
          <div class="enter"></div>
          <input type="text" class="form-control bg-light" placeholder="description task" formControlName="description">
        </div>
        <button type="submit" class="btn btn-dark">add task</button>
      </form>
    </div>
</div>
