.body {
  height: 93.5vh;
  width: 100%;

  main {
    display: flex;
    flex-wrap: wrap;

    .column {
      border: 1px solid #ebecf0;
      background-color: #ebecf0;
      border-radius: 5px;
      height: 100%;

      cursor: pointer;
      margin: 5px;
      width: 16rem;

    }
  }
}

.add-card {
  margin: 15px 0px;
}

.logout {
  cursor: pointer;
}


.menu {
  display: flex;
  margin: 1rem 5px;

  .title-board {
    display: flex;
    align-items: center;
    color: #172b4d;
    font-weight: 800;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;

    font-size: 18px;

    &:hover {
      background-color: #a5afb7;
    }
  }

  .full-menu {
    display: flex;
    align-items: center;
    justify-items: center;

    padding: .3rem;
    border-radius: 5px;
    background-color: #dfe1e6;

    cursor: pointer;

    margin-left: 20px;
    height: 35px;

    &:hover {
      background-color: #a5afb7;
    }
  }

  .avatar {
    color: #172b4d;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    font-size: 14px;
    border: 1px solid red;
    background-color: #dfe1e6;
    border-radius: 100%;
    cursor: pointer;
    text-transform: uppercase;

    margin: 0 20px;
  }

  .invited-users {
    width: 34px;
    height: 34px;
    font-size: 14px;
    border: 1px solid #dfe1e6;
    background-color: #dfe1e6;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 0.5rem;

    text-transform: uppercase;
  }

  .invite {
    color: #172b4d;
    font-weight: 500;
    display: flex;
    background-color: #dfe1e6;
    align-items: center;
    border-radius: 5px;
    padding: 0 6px;
    cursor: pointer;

    &:hover {
      background-color: #a5afb7;
    }
  }
}

.card {
  display: flex;
  width: 95%;
  margin: 0 auto;

  .card-body {
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
  }
}

form {
  margin-top: 15px;

  input {
    width: 95%;
    margin: 0 auto;
  }

  .enter {
    padding: 5px 0px;
  }

  .btn {
    margin: 10px 0 15px 0;
    width: 95%;
  }
}


.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-name {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.has-gradient-text {
  background: -webkit-linear-gradient(#13f7f4, #2af598);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-width: 0;
  min-height: 0;

  .board-bar {
    background: rgba(gray, 0.5);
    padding: 8px 15px;

    .board-name {
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
  }

  .board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;

    .board-columns {
      display: flex;
      flex-grow: 1;

      .board-column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;

        min-width: 300px;
        margin: 50px;
        padding: 25px;

        border-radius: 4px;

        background: rgba(white, 0.5);

        &:not(:first-child) {
          margin-left: 0;
        }

        .column-title {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.column-title {
  display: flex;
  justify-content: space-between;

  font-size: 20px;
  font-weight: 500;
  width: 95%;

  margin: 0 auto;
  padding: 15px 0 0 0;

  .title {
    width: 100%;
    white-space: nowrap;
  }

  .icon {

    mat-icon:hover {
      color: #fff;
      background-color: #a5afb7;
      border-radius: 3px;
    }
  }
}

.tasks-container {
  min-height: 60px;
  flex-grow: 1;
  overflow-y: auto;
}

.task {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;

  padding: 15px 12px;
  background: white;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;

  margin-bottom: 15px;
  width: 95%;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
  0 3px 14px 2px rgba(0, 0, 0, 0.05);
}

.task-archive {
  padding: 10px 100px;
}

.task-archive-view {
  display: flex;
  justify-content: flex-end;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.board-columns {
  display: flex;
  flex-wrap: wrap;

  position: relative;
  top: 0;
  left: 0;
}

.example-sidenav {
  width: 20%;
  background-color: #f4f5f7;
}

.sidenav {
  display: flex;
  justify-content: center;

  text-align: center;
}

.sidenav-menu {
  font-size: 16px;
  color: #172b4d;
  font-weight: 500;
  margin: 20px 0px;
}

.task-unzip {
  cursor: pointer;
}

.btn-add button {
  margin-left: 6px;
  width: 95%;
}

.task-archive {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task-title {
  font-weight: bold;
  width: 3rem;
}

.task-unzip {
  width: 3rem;
}

.task-archive-view {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.btn-unzip {
  cursor: pointer;
}

.transaction-body {
  display: inline-block;
}

.task_search {
  input {
    height: 100%;
    margin-left: 1.5rem;

    border-radius: 3px;
    border: 1px solid #a5afb7;
  }

  button {
    color: #172b4d;
    font-weight: 500;
    background-color: #dfe1e6;
    height: 100%;
    border-radius: 0 3px 3px 0;
    border: 1px solid #a5afb7;
    padding: 0 1rem;

    &:hover {
      background-color: #a5afb7;
    }
  }
}

.material-icons-outlined {
  cursor: pointer;
}

.active-task {
  font-size: 14px;
  display: flex;
  align-items: center;

  color: #172b4d;
}

.invited-users {
  position: relative;
}

.user-invite-delete {
  font-size: 15px;

  position: absolute;
  top: -5px;
  right: -10px;
}

.leave-board {
  cursor: pointer;

  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.add-task-form {
  width: 250px;
}

.btn-link {
  height: 100%;
  width: 5rem;
  background-color: #dfe1e6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

