<div class="content">
  <div class="invite">
    Hi you have been invited to a new board. Do you want to go?
    <strong>Name: {{boardName}}</strong>!
  </div>
  <div *ngIf="authService.isAuthorized; else auth">
    <button
      mat-raised-button
      color="primary"
      class="btn-join"
      (click)="joinBoard()"
    >Join board</button>
  </div>
  <ng-template #auth>
    <p>Looks like you need to be logged into your Trello account to join this board.</p>
    <div>
      <button
        mat-raised-button
        color="primary"
        class="invite-join"
        [routerLink]="['/admin', 'signup-page']"
      >Sign up</button>
      <button
        mat-raised-button
        class="invite-join"
        [routerLink]="['/admin', 'login-page']"
      >Log in</button>
    </div>
  </ng-template>
</div>
