.content {
  width: 40rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;

  .btn-join {
    margin-top: 1rem;
  }
}

h4 {
  font-weight: 500;
}

.invite-page-description {
  padding: 2rem;
}

.login {
  margin-left: 1rem;
}

