<div class="body">
  <h1>Trello log</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="wrapper">
      <h4>Log in to Trello</h4>

      <div class="mb-3" [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}">
        <input id="email" class="form-control bg-light" type="email" placeholder="Enter email" formControlName="email">
        <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="validation">
        </div>
      </div>

      <div class="mb-3" [ngClass]="{invalid: form.get('password')?.touched && form.get('password')?.invalid}">
        <input id="password" class="form-control bg-light" type="password" placeholder="Enter password"
               formControlName="password">
        <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="validation">
        </div>
      </div>

      <button type="submit" class="btn bg-success bg-gradient" [disabled]="form.invalid || submitted">Log in
      </button>

      <div class="or">OR</div>

      <div class="google bg-light bg-gradient" (click)="signInWithGoogle()">
        <img class="google-logo" src="../../../../assets/google.logo.png" alt="">
        <a href="">Continue with Google</a>
      </div>
    </div>
  </form>
</div>

<!--<div class="body">-->
<!--<div class="log-in-container">-->
<!--&lt;!&ndash;  <div *ngIf="errorMessage" class="error">&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="error__message">{{ errorMessage }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--  <h1>Log in to Trello</h1>-->
<!--  <div class="account-form">-->
<!--    <div class="log-in-form">-->
<!--      <form [formGroup]="form" (ngSubmit)="submit()">-->
<!--        <mat-form-field class="log-in-form-input" appearance="outline">-->
<!--          <mat-label>Enter email</mat-label>-->
<!--          <input-->
<!--            matInput-->
<!--            type="text"-->
<!--            placeholder="Enter email"-->
<!--            formControlName="email"-->
<!--          />-->
<!--          <mat-error-->
<!--            *ngIf="form.get('email')?.touched && form.get('email')?.invalid"-->
<!--          >-->
<!--&lt;!&ndash;            {{ getErrorMessageEmail() }}&ndash;&gt;-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
<!--        <mat-form-field class="log-in-form-input" appearance="outline">-->
<!--          <mat-label>Enter password</mat-label>-->
<!--          <input-->
<!--            matInput-->
<!--            type="password"-->
<!--            placeholder="Enter password"-->
<!--            formControlName="password"-->
<!--          />-->
<!--          <mat-error-->
<!--            *ngIf="-->
<!--              form.get('password')?.touched && form.get('password')?.invalid-->
<!--            "-->
<!--          >-->
<!--&lt;!&ndash;            {{ getErrorMessagePassword() }}&ndash;&gt;-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
<!--        <button-->
<!--          mat-stroked-button-->
<!--          type="submit"-->
<!--          class="log-in-form-button"-->
<!--          [disabled]="form.invalid"-->
<!--        >-->
<!--          Log in-->
<!--        </button>-->
<!--      </form>-->
<!--    </div>-->
<!--    <div>-->
<!--      <div class="text">OR</div>-->
<!--      <div class="log-in-oath">-->
<!--        <button-->
<!--          mat-raised-button-->
<!--          class="oath-button"-->
<!--        >-->
<!--          <span class="oath-button__logo"></span>-->
<!--          <span>Continue with Google</span>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <mat-divider class="divider"></mat-divider>-->
<!--  <a routerLink="/signup" routerLinkActive="active" class="form-link"-->
<!--  >Sign up for an account</a-->
<!--  >-->
<!--</div>-->
<!--</div>-->
